
html, body{
    color: #456268;
    background: #79A3B1;
    position: relative; 
    text-shadow: .05vw .05vw rgba(206, 216, 223, 0.3); 
    font-size: clamp(1vw, 1.2vw, 1.4vw);
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 0.1em;
  }

  p{
      color: #456268; 
      font-weight: bold;
  }
  
  h2{
    color: #2b3d41; 
  }

  
  .profileContainer{
    margin: auto; 
    height: 100%;
    overflow: hidden;
    display: inline-block;
    position: relative;
    border-radius: .5rem;
    padding: 1rem; 
    background-color: #FCF8EC;
    /* width: clamp(14rem, 17rem, 18rem); */
  }

  .profileImg{
      width: clamp(5rem, 7rem, 10rem);
      height: clamp(5rem, 7rem, 10rem); 
      border-radius: 5rem;
  }

  .link{
    color: #456268;
    text-shadow: .03vw .03vw #3F403F;
  }
  .link:hover{
    color: #B2B8A3;
  }

  figcaption.text{
    font-size:.65rem;
  }
  
  ::-webkit-scrollbar {
      width: clamp(.5em, .65em, .8em);
  }
  /* Track */
  ::-webkit-scrollbar-track {
      background: #79A3B1; 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background: #FCF8EC; 
      border-radius: .8em;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: #B2B8A3; 
  }
